body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #282d35;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #21222a;
}

.navbar .navbar-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar .nav-logo {
  width: 4rem;
  padding: 0.8rem 0 0.8rem 0.8rem;
}

.navbar h2 {
  color: #61dbfb;
  margin-left: 0.5rem;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items > li {
  padding: 0.8rem;
  font-weight: bold;
  color: #fff;
}

.container {
  background-image: url(images/logo512.png);
  background-repeat: no-repeat;
  background-position: 126% 40%;
  height: 100vh;
}

.container .title {
  margin: 1rem 0.5rem 1rem 1.5rem;
  font-size: 2rem;
  color: #fff;
}

.container .content {
  line-height: 2;
  font-weight: 550;
  margin-left: 1rem;
}

.container .content li {
  color: #fff;
}

.container .content li::marker {
  font-size: 1.5rem;
  color: #61dbfb;
}

.footer {
  background: #777;
  padding: 0.5rem 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer small {
  color: #fff;
  font-weight: 550;
  margin: 0.5rem;
}


